.flows.json.backup
[
    {
        "id": "5c7a661f544dc51d",
        "type": "tab",
        "label": "Space State - Temp & Humidity",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ae9ae02ccd4803a",
        "type": "tab",
        "label": "Space State - Open/Close",
        "disabled": false,
        "info": ""
    },
    {
        "id": "32cb8da3.eeffc2",
        "type": "tab",
        "label": "Sun Events",
        "disabled": false,
        "info": ""
    },
    {
        "id": "80df3061.aa44d",
        "type": "tab",
        "label": "HAL9000",
        "disabled": false,
        "info": ""
    },
    {
        "id": "550bc608.2b8b78",
        "type": "influxdb",
        "hostname": "10.98.71.71",
        "port": "8086",
        "protocol": "http",
        "database": "climate",
        "name": "climate",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "3539746d.759aec",
        "type": "mqtt-broker",
        "name": "mqtt-void",
        "broker": "10.98.71.71",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "88dfa43f7c3eb225",
        "type": "Cache",
        "name": "cache",
        "defaultTtl": "",
        "checkPeriod": ""
    },
    {
        "id": "5b117459cf47e677",
        "type": "discord-token",
        "name": "Discord"
    },
    {
        "id": "c4d61c684681e109",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2863b1fc.6af24e",
        "type": "influxdb out",
        "z": "5c7a661f544dc51d",
        "influxdb": "550bc608.2b8b78",
        "name": "InfluxDB",
        "measurement": "dht",
        "precision": "s",
        "retentionPolicy": "",
        "x": 580,
        "y": 40,
        "wires": []
    },
    {
        "id": "86a81e20.eea61",
        "type": "mqtt in",
        "z": "5c7a661f544dc51d",
        "name": "Spacestate - SENSOR",
        "topic": "environment/dht",
        "qos": "2",
        "datatype": "json",
        "broker": "3539746d.759aec",
        "inputs": 0,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "73018de0.0bd364"
            ]
        ]
    },
    {
        "id": "73018de0.0bd364",
        "type": "function",
        "z": "5c7a661f544dc51d",
        "name": "Parse measurement",
        "func": "msg.payload = [msg.payload,\n{name: \"dht1\"}]\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 40,
        "wires": [
            [
                "2863b1fc.6af24e"
            ]
        ]
    },
    {
        "id": "1e8c47f3.8831e8",
        "type": "mqtt in",
        "z": "5c7a661f544dc51d",
        "name": "Tasmota - STATE",
        "topic": "environment/+/STATE",
        "qos": "2",
        "datatype": "json",
        "broker": "3539746d.759aec",
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "361de9dc.04ed66"
            ]
        ]
    },
    {
        "id": "6d7fdea7.45246",
        "type": "influxdb out",
        "z": "5c7a661f544dc51d",
        "influxdb": "550bc608.2b8b78",
        "name": "InfluxDB",
        "measurement": "state",
        "precision": "s",
        "retentionPolicy": "",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "a19ffe0.62476",
        "type": "change",
        "z": "5c7a661f544dc51d",
        "name": "Parse measurement",
        "rules": [
            {
                "t": "set",
                "p": "output",
                "pt": "msg",
                "to": "[\t    {\t        \"temperature\": payload.*.Temperature,\t        \"humidity\": payload.*.Humidity,\t        \"PM2.5\": payload.SDS0X1.\"PM2.5\",\t        \"PM10\": payload.SDS0X1.PM10\t        \t    },\t    {\t        \"name\": $substringBefore($substringAfter(topic, \"/\"), \"/\")\t    }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "output",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "output",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "2863b1fc.6af24e"
            ]
        ]
    },
    {
        "id": "361de9dc.04ed66",
        "type": "change",
        "z": "5c7a661f544dc51d",
        "name": "Parse measurement",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"power\": (payload.POWER = \"OFF\" ? 0 : 1)\t    },\t    {\t        \"name\": $substringBefore($substringAfter(topic, \"/\"), \"/\")\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "6d7fdea7.45246"
            ]
        ]
    },
    {
        "id": "dfc498b3.aef398",
        "type": "mqtt in",
        "z": "5c7a661f544dc51d",
        "name": "Tasmota - SENSOR",
        "topic": "environment/+/SENSOR",
        "qos": "2",
        "datatype": "json",
        "broker": "3539746d.759aec",
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "a19ffe0.62476"
            ]
        ]
    },
    {
        "id": "c5105954f0706ba3",
        "type": "mqtt out",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "logo/cmnd/POWER1",
        "qos": "0",
        "retain": "false",
        "broker": "3539746d.759aec",
        "x": 860,
        "y": 60,
        "wires": []
    },
    {
        "id": "328c1e27e1ebd117",
        "type": "mqtt out",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "computers/barputer01",
        "qos": "0",
        "retain": "false",
        "broker": "3539746d.759aec",
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "f655300218da951f",
        "type": "mqtt in",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "environment/dht",
        "qos": "2",
        "datatype": "json",
        "broker": "3539746d.759aec",
        "inputs": 0,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "3c7e383b6bbc7785",
                "2ee6eb8a0a213a74",
                "3134f2063674370f",
                "01e5fde574225c69"
            ]
        ]
    },
    {
        "id": "3c7e383b6bbc7785",
        "type": "change",
        "z": "6ae9ae02ccd4803a",
        "name": "Set on/off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.state ? \"on\" : \"off\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "c5105954f0706ba3"
            ]
        ]
    },
    {
        "id": "2ee6eb8a0a213a74",
        "type": "change",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.state ? \"poweron\" : \"poweroff\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "328c1e27e1ebd117"
            ]
        ]
    },
    {
        "id": "3758950e49922b9c",
        "type": "file in",
        "z": "6ae9ae02ccd4803a",
        "name": "Load MACs from file",
        "filename": "macs",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 460,
        "y": 500,
        "wires": [
            [
                "8999d558893bc2f0"
            ]
        ]
    },
    {
        "id": "f23d872eadfbfddf",
        "type": "file",
        "z": "6ae9ae02ccd4803a",
        "name": "Save MACs to file",
        "filename": "macs",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 390,
        "y": 440,
        "wires": [
            [
                "2729e191657e0f94"
            ]
        ]
    },
    {
        "id": "ae7d0eff356c503e",
        "type": "inject",
        "z": "6ae9ae02ccd4803a",
        "name": "Create MAC-address list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "82800",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "{\"barputer01\":\"70:85:c2:3a:61:94\",\"springsteen\":\"34:c9:3d:2e:4b:90\",\"stargazer\":\"ec:a8:6b:8b:e6:b0\"}",
        "payloadType": "json",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "f23d872eadfbfddf"
            ]
        ]
    },
    {
        "id": "2729e191657e0f94",
        "type": "debug",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "active": false,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "\"Updated mac list\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "596d8742f0918447",
        "type": "debug",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "8999d558893bc2f0",
        "type": "json",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 500,
        "wires": [
            [
                "17f455359fdded2c"
            ]
        ]
    },
    {
        "id": "9be94bddb27f11e3",
        "type": "wake on lan",
        "z": "6ae9ae02ccd4803a",
        "mac": "",
        "host": "",
        "udpport": 9,
        "numpackets": 3,
        "interval": 100,
        "name": "",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "17f455359fdded2c",
        "type": "change",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mac",
                "pt": "msg",
                "to": "$lookup(payload, $substringAfter(topic, \"/\"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 500,
        "wires": [
            [
                "9be94bddb27f11e3",
                "596d8742f0918447"
            ]
        ]
    },
    {
        "id": "d262ef90f7518673",
        "type": "mqtt in",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "computers/#",
        "qos": "2",
        "datatype": "utf8",
        "broker": "3539746d.759aec",
        "inputs": 0,
        "x": 110,
        "y": 500,
        "wires": [
            [
                "c0cff6626d30a21b"
            ]
        ]
    },
    {
        "id": "c0cff6626d30a21b",
        "type": "switch",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "poweron",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 500,
        "wires": [
            [
                "3758950e49922b9c"
            ]
        ]
    },
    {
        "id": "855181d3a30999a2",
        "type": "mqtt out",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "environment/tasmota_AA831A/cmnd/POWER2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3539746d.759aec",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "70c5cceefad4cd0b",
        "type": "mqtt out",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "environment/tasmota_AA831A/cmnd/POWER1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3539746d.759aec",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "0167714cb4ec0fdf",
        "type": "Cache out",
        "z": "6ae9ae02ccd4803a",
        "name": "State",
        "cache": "88dfa43f7c3eb225",
        "keyType": "msg",
        "keyProperty": "topic",
        "valueType": "msg",
        "valueProperty": "payload",
        "ttlType": "msg",
        "ttlProperty": "",
        "useString": false,
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "3134f2063674370f",
        "type": "change",
        "z": "6ae9ae02ccd4803a",
        "name": "Set state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$boolean(payload.state)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "state",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "nightTopic",
                "pt": "msg",
                "to": "night",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "0167714cb4ec0fdf",
                "d5ebd20ad125a556"
            ]
        ]
    },
    {
        "id": "01e5fde574225c69",
        "type": "change",
        "z": "6ae9ae02ccd4803a",
        "name": "Set inverted on/off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.state ? \"off\" : \"on\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "night",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "70c5cceefad4cd0b"
            ]
        ]
    },
    {
        "id": "d5ebd20ad125a556",
        "type": "Cache in",
        "z": "6ae9ae02ccd4803a",
        "name": "Night",
        "cache": "88dfa43f7c3eb225",
        "keyType": "msg",
        "keyProperty": "nightTopic",
        "valueType": "msg",
        "valueProperty": "night",
        "useString": false,
        "outputs": 1,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "4a40fddf1ecd06b9"
            ]
        ]
    },
    {
        "id": "4a40fddf1ecd06b9",
        "type": "change",
        "z": "6ae9ae02ccd4803a",
        "name": "Set on/off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(payload and night) ? \"on\" : \"off\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 120,
        "wires": [
            [
                "855181d3a30999a2"
            ]
        ]
    },
    {
        "id": "067c3b4800e20304",
        "type": "inject",
        "z": "32cb8da3.eeffc2",
        "name": "Start & set coordinates",
        "props": [
            {
                "p": "payload.latitude",
                "v": "51.2",
                "vt": "num"
            },
            {
                "p": "payload.longitude",
                "v": "4.45",
                "vt": "num"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "bb453a1268c52e68"
            ]
        ]
    },
    {
        "id": "bb453a1268c52e68",
        "type": "sun events",
        "z": "32cb8da3.eeffc2",
        "testmode": false,
        "verbose": "N",
        "topic": "",
        "name": "",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "ed35eb83075dc9e7"
            ]
        ]
    },
    {
        "id": "3ac7f1eaa23ce25c",
        "type": "Cache out",
        "z": "32cb8da3.eeffc2",
        "name": "Night",
        "cache": "88dfa43f7c3eb225",
        "keyType": "msg",
        "keyProperty": "topic",
        "valueType": "msg",
        "valueProperty": "payload",
        "ttlType": "msg",
        "ttlProperty": "",
        "useString": false,
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "ed35eb83075dc9e7",
        "type": "change",
        "z": "32cb8da3.eeffc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "night",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(payload.sunevent = \"sunsetStart\") or\t(payload.sunevent = \"sunset\") or\t(payload.sunevent = \"dusk\") or\t(payload.sunevent = \"nauticalDusk\") or\t(payload.sunevent = \"night\") or\t(payload.sunevent = \"nadir\") or\t(payload.sunevent = \"nightEnd\") or\t(payload.sunevent = \"nauticalDawn\") or\t(payload.sunevent = \"dawn\")\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 60,
        "wires": [
            [
                "4dabf8b786444e67",
                "3ac7f1eaa23ce25c"
            ]
        ]
    },
    {
        "id": "4dabf8b786444e67",
        "type": "debug",
        "z": "32cb8da3.eeffc2",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "\"night: \" & payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "b046f00c.6ae94",
        "type": "switch",
        "z": "80df3061.aa44d",
        "name": "Contains @HAL9000",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "<@975714677042602004>",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 40,
        "wires": [
            [
                "2fcbab72e8b2b759"
            ]
        ]
    },
    {
        "id": "18edb6ce599c72d2",
        "type": "change",
        "z": "80df3061.aa44d",
        "name": "Sorry Dave",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"I'm sorry \" & author.username & \", I'm afraid I can't do that\"\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "9bfaa376cd2217fe"
            ]
        ]
    },
    {
        "id": "2fcbab72e8b2b759",
        "type": "switch",
        "z": "80df3061.aa44d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "help",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "macs",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "unsubscribe",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "6305ca789cf70892"
            ],
            [
                "3bf413bcc75f79cc"
            ],
            [
                "841af24d9cc4cd39"
            ],
            [
                "9223108116f36378"
            ],
            [
                "18edb6ce599c72d2"
            ]
        ]
    },
    {
        "id": "6305ca789cf70892",
        "type": "change",
        "z": "80df3061.aa44d",
        "name": "Help",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"`HAL9000\\n(Heuristically programmed ALgorithmic computer)\\n\\nhelp:\\t\\t\\t\\t\\tThis help message\\nsubscribe topic:\\t\\t fff\\nunsubscribe topic:\\t   gddd`\"",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "9bfaa376cd2217fe"
            ]
        ]
    },
    {
        "id": "3bf413bcc75f79cc",
        "type": "file in",
        "z": "80df3061.aa44d",
        "name": "Load MACs from file",
        "filename": "macs",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "9bfaa376cd2217fe"
            ]
        ]
    },
    {
        "id": "01ab99552dddf24b",
        "type": "discordMessage",
        "z": "80df3061.aa44d",
        "name": "",
        "token": "5b117459cf47e677",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "b046f00c.6ae94",
                "6e5bef5bcebef57e"
            ]
        ]
    },
    {
        "id": "9bfaa376cd2217fe",
        "type": "discordSendMessage",
        "z": "80df3061.aa44d",
        "name": "",
        "channel": "",
        "token": "5b117459cf47e677",
        "x": 960,
        "y": 220,
        "wires": []
    },
    {
        "id": "6d3dac22b4d5912e",
        "type": "mqtt in",
        "z": "80df3061.aa44d",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "c4d61c684681e109",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "0a6bdfae4eb52548"
            ]
        ]
    },
    {
        "id": "841af24d9cc4cd39",
        "type": "change",
        "z": "80df3061.aa44d",
        "name": "Unsubscribe",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$trim($substringAfter(payload, \"unsubscribe\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Unsubscribing from: \" &\t$trim($substringAfter(payload, \"unsubscribe\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "channel",
                "pt": "flow",
                "to": "channel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "6d3dac22b4d5912e",
                "9bfaa376cd2217fe"
            ]
        ]
    },
    {
        "id": "0a6bdfae4eb52548",
        "type": "change",
        "z": "80df3061.aa44d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "channel",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"MQTT:\\t\" & topic & \"\\t\" & payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 360,
        "wires": [
            [
                "9bfaa376cd2217fe"
            ]
        ]
    },
    {
        "id": "6e5bef5bcebef57e",
        "type": "switch",
        "z": "80df3061.aa44d",
        "name": "Is DM",
        "property": "channel.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "dm",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "2fcbab72e8b2b759"
            ]
        ]
    },
    {
        "id": "9223108116f36378",
        "type": "change",
        "z": "80df3061.aa44d",
        "name": "Subscribe",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$trim($substringAfter(payload, \"subscribe\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Subscribing to: \" &\t$trim($substringAfter(payload, \"subscribe\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "channel",
                "pt": "flow",
                "to": "channel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "9bfaa376cd2217fe",
                "6d3dac22b4d5912e"
            ]
        ]
    }
]