.flows.json.backup
[
    {
        "id": "5c7a661f544dc51d",
        "type": "tab",
        "label": "Space State - Temp & Humidity",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6ae9ae02ccd4803a",
        "type": "tab",
        "label": "Space State - Open/Close",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "6b38719.5d9131",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "crypto",
        "name": "",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "550bc608.2b8b78",
        "type": "influxdb",
        "hostname": "10.98.71.71",
        "port": "8086",
        "protocol": "http",
        "database": "climate",
        "name": "climate",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "3539746d.759aec",
        "type": "mqtt-broker",
        "name": "mqtt-void",
        "broker": "10.98.71.71",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2863b1fc.6af24e",
        "type": "influxdb out",
        "z": "5c7a661f544dc51d",
        "influxdb": "550bc608.2b8b78",
        "name": "InfluxDB",
        "measurement": "dht",
        "precision": "s",
        "retentionPolicy": "",
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "86a81e20.eea61",
        "type": "mqtt in",
        "z": "5c7a661f544dc51d",
        "name": "Spacestate - SENSOR",
        "topic": "environment/dht",
        "qos": "2",
        "datatype": "json",
        "broker": "3539746d.759aec",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "73018de0.0bd364"
            ]
        ]
    },
    {
        "id": "73018de0.0bd364",
        "type": "function",
        "z": "5c7a661f544dc51d",
        "name": "Parse measurement",
        "func": "msg.payload = [msg.payload,\n{name: \"dht1\"}]\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 40,
        "wires": [
            [
                "2863b1fc.6af24e"
            ]
        ]
    },
    {
        "id": "1e8c47f3.8831e8",
        "type": "mqtt in",
        "z": "5c7a661f544dc51d",
        "name": "Tasmota - STATE",
        "topic": "environment/+/STATE",
        "qos": "2",
        "datatype": "json",
        "broker": "3539746d.759aec",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "361de9dc.04ed66"
            ]
        ]
    },
    {
        "id": "6d7fdea7.45246",
        "type": "influxdb out",
        "z": "5c7a661f544dc51d",
        "influxdb": "550bc608.2b8b78",
        "name": "InfluxDB",
        "measurement": "state",
        "precision": "s",
        "retentionPolicy": "",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "a19ffe0.62476",
        "type": "change",
        "z": "5c7a661f544dc51d",
        "name": "Parse measurement",
        "rules": [
            {
                "t": "set",
                "p": "output",
                "pt": "msg",
                "to": "[\t    {\t        \"temperature\": payload.*.Temperature,\t        \"humidity\": payload.*.Humidity,\t        \"PM2.5\": payload.SDS0X1.\"PM2.5\",\t        \"PM10\": payload.SDS0X1.PM10\t        \t    },\t    {\t        \"name\": $substringBefore($substringAfter(topic, \"/\"), \"/\")\t    }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "output",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "output",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "2863b1fc.6af24e"
            ]
        ]
    },
    {
        "id": "361de9dc.04ed66",
        "type": "change",
        "z": "5c7a661f544dc51d",
        "name": "Parse measurement",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"power\": (payload.POWER = \"OFF\" ? 0 : 1)\t    },\t    {\t        \"name\": $substringBefore($substringAfter(topic, \"/\"), \"/\")\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "6d7fdea7.45246"
            ]
        ]
    },
    {
        "id": "dfc498b3.aef398",
        "type": "mqtt in",
        "z": "5c7a661f544dc51d",
        "name": "Tasmota - SENSOR",
        "topic": "environment/+/SENSOR",
        "qos": "2",
        "datatype": "json",
        "broker": "3539746d.759aec",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "a19ffe0.62476"
            ]
        ]
    }
]