flows.json
[
    {
        "id": "93090032383d5199",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "6b38719.5d9131",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "crypto",
        "name": "",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "0346e17347c6014f",
        "type": "inject",
        "z": "93090032383d5199",
        "name": "TEST",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1bd2cfc393ad473f",
        "type": "debug",
        "z": "93090032383d5199",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "d47908a188bfff15",
        "type": "change",
        "z": "93090032383d5199",
        "name": "Add source",
        "rules": [
            {
                "t": "set",
                "p": "payload.source",
                "pt": "msg",
                "to": "coingecko",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 120,
        "wires": [
            [
                "1bd2cfc393ad473f",
                "296a7482f0747f35"
            ]
        ]
    },
    {
        "id": "296a7482f0747f35",
        "type": "influxdb out",
        "z": "93090032383d5199",
        "influxdb": "6b38719.5d9131",
        "name": "Store in local influxdb",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1080,
        "y": 120,
        "wires": []
    }
]