flows.json
[
    {
        "id": "5c7a661f544dc51d",
        "type": "tab",
        "label": "Space State - Temp & Humidity",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ae9ae02ccd4803a",
        "type": "tab",
        "label": "Space State - Open/Close",
        "disabled": false,
        "info": ""
    },
    {
        "id": "32cb8da3.eeffc2",
        "type": "tab",
        "label": "Sun Events",
        "disabled": false,
        "info": ""
    },
    {
        "id": "600e0f75f0d2b442",
        "type": "tab",
        "label": "Ventilate",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "550bc608.2b8b78",
        "type": "influxdb",
        "hostname": "10.98.71.71",
        "port": "8086",
        "protocol": "http",
        "database": "climate",
        "name": "climate",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "3539746d.759aec",
        "type": "mqtt-broker",
        "name": "mqtt-void",
        "broker": "10.98.71.71",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "88dfa43f7c3eb225",
        "type": "Cache",
        "name": "cache",
        "defaultTtl": "",
        "checkPeriod": ""
    },
    {
        "id": "b30fd124b6dc35b8",
        "type": "Cache",
        "name": "deduplicate",
        "defaultTtl": "",
        "checkPeriod": ""
    },
    {
        "id": "2863b1fc.6af24e",
        "type": "influxdb out",
        "z": "5c7a661f544dc51d",
        "influxdb": "550bc608.2b8b78",
        "name": "InfluxDB",
        "measurement": "dht",
        "precision": "s",
        "retentionPolicy": "",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "86a81e20.eea61",
        "type": "mqtt in",
        "z": "5c7a661f544dc51d",
        "name": "Spacestate - SENSOR",
        "topic": "environment/dht",
        "qos": "2",
        "datatype": "json",
        "broker": "3539746d.759aec",
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "73018de0.0bd364",
                "82b9c339156bcabe"
            ]
        ]
    },
    {
        "id": "73018de0.0bd364",
        "type": "function",
        "z": "5c7a661f544dc51d",
        "name": "Parse measurement",
        "func": "msg.payload = [msg.payload,\n{name: \"dht1\"}]\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "2863b1fc.6af24e"
            ]
        ]
    },
    {
        "id": "1e8c47f3.8831e8",
        "type": "mqtt in",
        "z": "5c7a661f544dc51d",
        "name": "Tasmota - STATE",
        "topic": "environment/+/STATE",
        "qos": "2",
        "datatype": "json",
        "broker": "3539746d.759aec",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "361de9dc.04ed66"
            ]
        ]
    },
    {
        "id": "6d7fdea7.45246",
        "type": "influxdb out",
        "z": "5c7a661f544dc51d",
        "influxdb": "550bc608.2b8b78",
        "name": "InfluxDB",
        "measurement": "state",
        "precision": "s",
        "retentionPolicy": "",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "a19ffe0.62476",
        "type": "change",
        "z": "5c7a661f544dc51d",
        "name": "Parse measurement",
        "rules": [
            {
                "t": "set",
                "p": "output",
                "pt": "msg",
                "to": "[\t    {\t        \"temperature\": payload.*.Temperature,\t        \"humidity\": payload.*.Humidity,\t        \"PM2.5\": payload.SDS0X1.\"PM2.5\",\t        \"PM10\": payload.SDS0X1.PM10\t        \t    },\t    {\t        \"name\": $substringBefore($substringAfter(topic, \"/\"), \"/\")\t    }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "output",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "output",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "2863b1fc.6af24e"
            ]
        ]
    },
    {
        "id": "361de9dc.04ed66",
        "type": "change",
        "z": "5c7a661f544dc51d",
        "name": "Parse measurement",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"power\": (payload.POWER = \"OFF\" ? 0 : 1)\t    },\t    {\t        \"name\": $substringBefore($substringAfter(topic, \"/\"), \"/\")\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "6d7fdea7.45246"
            ]
        ]
    },
    {
        "id": "dfc498b3.aef398",
        "type": "mqtt in",
        "z": "5c7a661f544dc51d",
        "name": "Tasmota - SENSOR",
        "topic": "environment/+/SENSOR",
        "qos": "2",
        "datatype": "json",
        "broker": "3539746d.759aec",
        "inputs": 0,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "a19ffe0.62476"
            ]
        ]
    },
    {
        "id": "f06d930af5368c53",
        "type": "Cache in",
        "z": "5c7a661f544dc51d",
        "name": "",
        "cache": "b30fd124b6dc35b8",
        "keyType": "msg",
        "keyProperty": "topic",
        "valueType": "msg",
        "valueProperty": "spacestate",
        "useString": false,
        "outputs": 2,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "f81f9a97a7d68ca1"
            ],
            [
                "a53c2eb02bfb13f8"
            ]
        ]
    },
    {
        "id": "82b9c339156bcabe",
        "type": "change",
        "z": "5c7a661f544dc51d",
        "name": "Set cache topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "state",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "f06d930af5368c53"
            ]
        ]
    },
    {
        "id": "a53c2eb02bfb13f8",
        "type": "change",
        "z": "5c7a661f544dc51d",
        "name": "null handling",
        "rules": [
            {
                "t": "set",
                "p": "spacestate",
                "pt": "msg",
                "to": "payload.state",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "8aa21bb2798d5d35",
                "2ff809fbb1faa2ff"
            ]
        ]
    },
    {
        "id": "f81f9a97a7d68ca1",
        "type": "switch",
        "z": "5c7a661f544dc51d",
        "name": "",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "spacestate",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "8aa21bb2798d5d35",
                "2ff809fbb1faa2ff"
            ]
        ]
    },
    {
        "id": "8aa21bb2798d5d35",
        "type": "Cache out",
        "z": "5c7a661f544dc51d",
        "name": "",
        "cache": "b30fd124b6dc35b8",
        "keyType": "msg",
        "keyProperty": "topic",
        "valueType": "msg",
        "valueProperty": "payload.state",
        "ttlType": "msg",
        "ttlProperty": "",
        "useString": false,
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "2ff809fbb1faa2ff",
        "type": "change",
        "z": "5c7a661f544dc51d",
        "name": "Set spacestate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.state ? \"open\" : \"closed\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 140,
        "wires": [
            [
                "46ce558457f8f239"
            ]
        ]
    },
    {
        "id": "46ce558457f8f239",
        "type": "mqtt out",
        "z": "5c7a661f544dc51d",
        "name": "",
        "topic": "voidwarranties/spacestate",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3539746d.759aec",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "c5105954f0706ba3",
        "type": "mqtt out",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "logo/cmnd/POWER1",
        "qos": "0",
        "retain": "false",
        "broker": "3539746d.759aec",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "328c1e27e1ebd117",
        "type": "mqtt out",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "computers/barputer01",
        "qos": "0",
        "retain": "false",
        "broker": "3539746d.759aec",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "f655300218da951f",
        "type": "mqtt in",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "environment/dht",
        "qos": "2",
        "datatype": "json",
        "broker": "3539746d.759aec",
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "3c7e383b6bbc7785",
                "2ee6eb8a0a213a74",
                "3134f2063674370f",
                "01e5fde574225c69"
            ]
        ]
    },
    {
        "id": "3c7e383b6bbc7785",
        "type": "change",
        "z": "6ae9ae02ccd4803a",
        "name": "Set on/off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.state ? \"on\" : \"off\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "ea0ec2e871a7676c"
            ]
        ]
    },
    {
        "id": "2ee6eb8a0a213a74",
        "type": "change",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.state ? \"poweron\" : \"poweroff\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 460,
        "wires": [
            [
                "328c1e27e1ebd117"
            ]
        ]
    },
    {
        "id": "3758950e49922b9c",
        "type": "file in",
        "z": "6ae9ae02ccd4803a",
        "name": "Load MACs from file",
        "filename": "macs",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 460,
        "y": 660,
        "wires": [
            [
                "8999d558893bc2f0"
            ]
        ]
    },
    {
        "id": "f23d872eadfbfddf",
        "type": "file",
        "z": "6ae9ae02ccd4803a",
        "name": "Save MACs to file",
        "filename": "macs",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 390,
        "y": 600,
        "wires": [
            [
                "2729e191657e0f94"
            ]
        ]
    },
    {
        "id": "ae7d0eff356c503e",
        "type": "inject",
        "z": "6ae9ae02ccd4803a",
        "name": "Create MAC-address list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "82800",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "{\"barputer01\":\"70:85:c2:3a:61:94\",\"springsteen\":\"34:c9:3d:2e:4b:90\",\"stargazer\":\"ec:a8:6b:8b:e6:b0\"}",
        "payloadType": "json",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "f23d872eadfbfddf"
            ]
        ]
    },
    {
        "id": "2729e191657e0f94",
        "type": "debug",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "active": false,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "\"Updated mac list\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "596d8742f0918447",
        "type": "debug",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 970,
        "y": 600,
        "wires": []
    },
    {
        "id": "8999d558893bc2f0",
        "type": "json",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 660,
        "wires": [
            [
                "17f455359fdded2c"
            ]
        ]
    },
    {
        "id": "9be94bddb27f11e3",
        "type": "wake on lan",
        "z": "6ae9ae02ccd4803a",
        "mac": "",
        "host": "",
        "udpport": 9,
        "numpackets": 3,
        "interval": 100,
        "name": "",
        "x": 990,
        "y": 660,
        "wires": []
    },
    {
        "id": "17f455359fdded2c",
        "type": "change",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mac",
                "pt": "msg",
                "to": "$lookup(payload, $substringAfter(topic, \"/\"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 660,
        "wires": [
            [
                "9be94bddb27f11e3",
                "596d8742f0918447"
            ]
        ]
    },
    {
        "id": "d262ef90f7518673",
        "type": "mqtt in",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "computers/#",
        "qos": "2",
        "datatype": "utf8",
        "broker": "3539746d.759aec",
        "inputs": 0,
        "x": 110,
        "y": 660,
        "wires": [
            [
                "c0cff6626d30a21b"
            ]
        ]
    },
    {
        "id": "c0cff6626d30a21b",
        "type": "switch",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "poweron",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 660,
        "wires": [
            [
                "3758950e49922b9c"
            ]
        ]
    },
    {
        "id": "855181d3a30999a2",
        "type": "mqtt out",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "environment/tasmota_AA831A/cmnd/POWER2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3539746d.759aec",
        "x": 940,
        "y": 280,
        "wires": []
    },
    {
        "id": "70c5cceefad4cd0b",
        "type": "mqtt out",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "environment/tasmota_AA831A/cmnd/POWER3",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3539746d.759aec",
        "x": 940,
        "y": 400,
        "wires": []
    },
    {
        "id": "0167714cb4ec0fdf",
        "type": "Cache out",
        "z": "6ae9ae02ccd4803a",
        "name": "State",
        "cache": "88dfa43f7c3eb225",
        "keyType": "msg",
        "keyProperty": "topic",
        "valueType": "msg",
        "valueProperty": "payload",
        "ttlType": "msg",
        "ttlProperty": "",
        "useString": false,
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "3134f2063674370f",
        "type": "change",
        "z": "6ae9ae02ccd4803a",
        "name": "Set state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$boolean(payload.state)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "state",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "nightTopic",
                "pt": "msg",
                "to": "night",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "0167714cb4ec0fdf",
                "d5ebd20ad125a556"
            ]
        ]
    },
    {
        "id": "01e5fde574225c69",
        "type": "change",
        "z": "6ae9ae02ccd4803a",
        "name": "Set inverted on/off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.state ? \"off\" : \"on\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "night",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "70c5cceefad4cd0b"
            ]
        ]
    },
    {
        "id": "d5ebd20ad125a556",
        "type": "Cache in",
        "z": "6ae9ae02ccd4803a",
        "name": "Night",
        "cache": "88dfa43f7c3eb225",
        "keyType": "msg",
        "keyProperty": "nightTopic",
        "valueType": "msg",
        "valueProperty": "night",
        "useString": false,
        "outputs": 1,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "4a40fddf1ecd06b9"
            ]
        ]
    },
    {
        "id": "4a40fddf1ecd06b9",
        "type": "change",
        "z": "6ae9ae02ccd4803a",
        "name": "Set on/off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(payload and night) ? \"on\" : \"off\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "855181d3a30999a2",
                "c5105954f0706ba3",
                "bb42280d4430c6e5",
                "29f4d555245d5e5b"
            ]
        ]
    },
    {
        "id": "ea0ec2e871a7676c",
        "type": "switch",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 40,
        "wires": [
            [
                "ba577bcc03b129d4"
            ]
        ]
    },
    {
        "id": "ba577bcc03b129d4",
        "type": "mqtt out",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "stripbar/cmnd/POWER1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3539746d.759aec",
        "x": 870,
        "y": 40,
        "wires": []
    },
    {
        "id": "29f4d555245d5e5b",
        "type": "mqtt out",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "environment/tasmota_AA831A/cmnd/POWER1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3539746d.759aec",
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "bb42280d4430c6e5",
        "type": "mqtt out",
        "z": "6ae9ae02ccd4803a",
        "name": "",
        "topic": "environment/tasmota_AA831A/cmnd/POWER4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3539746d.759aec",
        "x": 940,
        "y": 220,
        "wires": []
    },
    {
        "id": "067c3b4800e20304",
        "type": "inject",
        "z": "32cb8da3.eeffc2",
        "name": "Start & set coordinates",
        "props": [
            {
                "p": "payload.latitude",
                "v": "51.2",
                "vt": "num"
            },
            {
                "p": "payload.longitude",
                "v": "4.45",
                "vt": "num"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "bb453a1268c52e68"
            ]
        ]
    },
    {
        "id": "bb453a1268c52e68",
        "type": "sun events",
        "z": "32cb8da3.eeffc2",
        "testmode": true,
        "verbose": "N",
        "topic": "",
        "name": "",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "ed35eb83075dc9e7",
                "5d3b91d67c19c68c"
            ]
        ]
    },
    {
        "id": "3ac7f1eaa23ce25c",
        "type": "Cache out",
        "z": "32cb8da3.eeffc2",
        "name": "Night",
        "cache": "88dfa43f7c3eb225",
        "keyType": "msg",
        "keyProperty": "topic",
        "valueType": "msg",
        "valueProperty": "payload",
        "ttlType": "msg",
        "ttlProperty": "",
        "useString": false,
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "ed35eb83075dc9e7",
        "type": "change",
        "z": "32cb8da3.eeffc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "night",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(payload.sunevent = \"sunsetStart\") or\t(payload.sunevent = \"sunset\") or\t(payload.sunevent = \"dusk\") or\t(payload.sunevent = \"nauticalDusk\") or\t(payload.sunevent = \"night\") or\t(payload.sunevent = \"nadir\") or\t(payload.sunevent = \"nightEnd\") or\t(payload.sunevent = \"nauticalDawn\") or\t(payload.sunevent = \"dawn\")\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "4dabf8b786444e67",
                "3ac7f1eaa23ce25c",
                "c292ca470881aa1b"
            ]
        ]
    },
    {
        "id": "4dabf8b786444e67",
        "type": "debug",
        "z": "32cb8da3.eeffc2",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "\"night: \" & payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "f42c99de504888b8",
        "type": "mqtt out",
        "z": "32cb8da3.eeffc2",
        "name": "",
        "topic": "outside/timeofday",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3539746d.759aec",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "72e592f4803514d2",
        "type": "mqtt out",
        "z": "32cb8da3.eeffc2",
        "name": "",
        "topic": "outside/daynight",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3539746d.759aec",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "5d3b91d67c19c68c",
        "type": "change",
        "z": "32cb8da3.eeffc2",
        "name": "Set sunevent",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sunevent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "f42c99de504888b8"
            ]
        ]
    },
    {
        "id": "c292ca470881aa1b",
        "type": "change",
        "z": "32cb8da3.eeffc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload ? \"night\" : \"day\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 160,
        "wires": [
            [
                "72e592f4803514d2"
            ]
        ]
    },
    {
        "id": "0c891f4246718c31",
        "type": "inject",
        "z": "600e0f75f0d2b442",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "a40d90097e3462f2",
                "d818c677afc02082",
                "36329ca827718c53"
            ]
        ]
    },
    {
        "id": "a40d90097e3462f2",
        "type": "influxdb in",
        "z": "600e0f75f0d2b442",
        "influxdb": "550bc608.2b8b78",
        "name": "Back Room Temperature",
        "query": "SELECT last(\"temperature\") FROM \"dht\" WHERE (\"name\" = 'tasmota_D84D05') ",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "84e5a2ee6ee9761b"
            ]
        ]
    },
    {
        "id": "1650b6c26be0c2b0",
        "type": "debug",
        "z": "600e0f75f0d2b442",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 400,
        "wires": []
    },
    {
        "id": "d818c677afc02082",
        "type": "influxdb in",
        "z": "600e0f75f0d2b442",
        "influxdb": "550bc608.2b8b78",
        "name": "Outside Temperature",
        "query": "SELECT last(\"temperature\") FROM \"dht\" WHERE (\"name\" = 'tasmota_AA831A')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "d34246a81feb63d9"
            ]
        ]
    },
    {
        "id": "9f52681ce05a86dd",
        "type": "join",
        "z": "600e0f75f0d2b442",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "0",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 850,
        "y": 120,
        "wires": [
            [
                "0dcd6bcaa34ca670"
            ]
        ]
    },
    {
        "id": "84e5a2ee6ee9761b",
        "type": "change",
        "z": "600e0f75f0d2b442",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "inside",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 60,
        "wires": [
            [
                "9f52681ce05a86dd"
            ]
        ]
    },
    {
        "id": "d34246a81feb63d9",
        "type": "change",
        "z": "600e0f75f0d2b442",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "outside",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "9f52681ce05a86dd",
                "6835eef9fd0ac96e"
            ]
        ]
    },
    {
        "id": "0dcd6bcaa34ca670",
        "type": "function",
        "z": "600e0f75f0d2b442",
        "name": "On Off Logic",
        "func": "msg.payload = msg.payload.outside[0].last - 2 < msg.payload.inside[0].last ? \"on\" : \"off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 120,
        "wires": [
            [
                "ddbdafbfc468e505",
                "1650b6c26be0c2b0"
            ]
        ]
    },
    {
        "id": "ddbdafbfc468e505",
        "type": "mqtt out",
        "z": "600e0f75f0d2b442",
        "name": "",
        "topic": "environment/tasmota_D84D05/cmnd/Power1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3539746d.759aec",
        "x": 1330,
        "y": 120,
        "wires": []
    },
    {
        "id": "36329ca827718c53",
        "type": "influxdb in",
        "z": "600e0f75f0d2b442",
        "influxdb": "550bc608.2b8b78",
        "name": "Server Room Temperature",
        "query": "SELECT last(\"temperature\") FROM \"dht\" WHERE (\"name\" = 'tasmota_D846A6') ",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "6c4e8b6a6a0f7b54"
            ]
        ]
    },
    {
        "id": "6c4e8b6a6a0f7b54",
        "type": "change",
        "z": "600e0f75f0d2b442",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "inside",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "6835eef9fd0ac96e"
            ]
        ]
    },
    {
        "id": "6835eef9fd0ac96e",
        "type": "join",
        "z": "600e0f75f0d2b442",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "0",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 850,
        "y": 220,
        "wires": [
            [
                "b01c1ed225b1ad3a"
            ]
        ]
    },
    {
        "id": "6911cb9105ec542d",
        "type": "mqtt out",
        "z": "600e0f75f0d2b442",
        "name": "",
        "topic": "environment/tasmota_D846A6/cmnd/Power1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3539746d.759aec",
        "x": 1330,
        "y": 220,
        "wires": []
    },
    {
        "id": "b01c1ed225b1ad3a",
        "type": "function",
        "z": "600e0f75f0d2b442",
        "name": "On Off Logic",
        "func": "msg.payload = msg.payload.outside[0].last < msg.payload.inside[0].last ? \"on\" : \"off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "6911cb9105ec542d",
                "1650b6c26be0c2b0"
            ]
        ]
    }
]